.favorites {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  perspective: 500px;
  z-index: -1;
  .card {
    width: 300px;
    height: 600px;
    background-color: #777;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  .wrapper {
    box-shadow: 0 0 10px 20px;
    background-color: none;
  }
  img {
    width: 100%;
    transition: 0.5s;
  }
}
