@font-face {
  font-family: 'Reddit Mono';
  src: url('../RedditMono/RedditMono-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Reddit Mono';
  src: url('../RedditMono/RedditMono-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Reddit Mono';
  src: url('../RedditMono/RedditMono-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Reddit Mono';
  src: url('../RedditMono/RedditMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Reddit Mono';
  src: url('../RedditMono/RedditMono-Bold.ttf') format('truetype');
  font-weight: 700;
}

* {
  font-family: 'Reddit Mono', monospace;
  font-weight: 400;
}
