.music-list {
  width: 100%;
  padding-bottom: 100px;
}

.music-list__cards {
  list-style: none;
  padding-top: 20px;
  padding-left: 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.music-list-item {
  perspective: 300px;
  margin: 20px;
}

.music-card {
  color: #fff;
  position: relative;
  margin: 10px;
  height: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-style: preserve-3d;
  background-color: #333;
  width: 100%;
  margin: 0;
  img {
    width: 265px;
  }
  h3 {
    color: orange;
    transition: 0.5s;
    margin: 5px;
  }
  p {
    margin: 0;
    transition: 0.5s;
  }
  .hover {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(#333, 0.5);
    justify-content: center;
    align-items: center;
    transition: display 0.5s;
  }
  &:hover .hover {
    display: flex;
  }
}

.play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  background: orange;
  &:active {
    background-color: rgb(150, 101, 11);
  }
}

.play {
  width: 60px;
  height: 60px;
  padding-left: 4px;
}

.stop {
  width: 60px;
  height: 60px;
}

.hover-image-block {
  position: relative;
}

.song-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
